body {
    max-width: 1000px; border: 1px solid black; margin: auto; 
}

header {
    background-color: gainsboro;
}

nav {
    display: flex; align-items: center; padding: 10px; border-bottom: 1px solid black;
}

#site {
    margin-right: 50px; display: flex; list-style-type: none; gap: 10px;
}

#cate {
    display: flex; list-style-type: none; gap: 10px;
}

#search {
    margin-left: auto; display: flex; align-items: center; list-style-type: none; gap: 10px;
}

#cart {
    display: flex; gap: 10px; align-items: center;
}

.layout {
    background-color: gainsboro;
    margin: 1em;
}

footer {
    margin-top: 100px; border-top: 1px solid black; padding: 20px; display: grid; gap: 10px;
}

.baris {
    display: flex; gap: 10px;
}

#sty {
    margin-left: auto;
}

.input-sub {
    display: flex; align-items: center; margin-left: auto; font-weight: bolder;
}

.tom {
    background-color: gray; color: white;
}

h1{
    text-align: center;
}

.text-center {
    text-align: center;
    align-items: center;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

img {
    width: 200px;
}

.button {
    background-color: rgb(1, 1, 133);
    color: white;
}